@import './styles/navbar';
@import './styles/tables';
@import './styles/search';
@import './styles/currency';
@import './styles/tooltip';
@import './styles/swap';

:root {
  --color-primary: #2c3e50;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 90vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url(/statistics.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: Arial, Helvetica, sans-serif;
}

.main-section {
  display: flex;
  flex-direction: column-reverse;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  // background-color: var(--color-primary);
  background-color: #0009;
  border-radius: 5px;

  @media screen and (width >= 760px) {
    margin-top: 60px;
    height: 500px;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid #fff8;
  }
}

.table__block {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media screen and (width >= 760px) {
    width: 70%;
  }
}

.--flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
