.input-block {
  width: 50%;
  background-color: #fff9;
  margin: 7px auto;
  padding: 5px 2px;
  border-radius: 2rem;

  // display: flex;
  // justify-content: center;
  // align-items: center;

  @media screen and (width >= 760px) {
    width: 60%;
    margin: 7px 40px;
  }

  transition: 0.5s;

  &:hover {
    width: 50%;
    background-color: #fff9;
    box-shadow: 0 0.1rem 0.4rem #0002;
  }

  input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
  }

  img {
    width: 1.2rem;
    height: 1.2rem;
  }
}
