.swap-rate-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    margin-left: 20px;
    padding: 12px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 50px;
    // border: 1px solid #55acee;

    &:hover {
      // transform: rotate(360deg);
      border: 2px solid #fff;
      transition: all 0.2s ease-out;
    }
  }

  .rate {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0 10px;

    @media screen and (width >= 600px) {
      font-size: 1.7rem;
    }
  }
}
